<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <%- include("../partials/nav") %>

    <!-- Main Content -->
    <main>
      <%- body %> <!-- express-ejs-layouts injects page content here -->
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
